.select
    .el-select__wrapper
        background-color: $background
        box-shadow: 0 0 0 1px lighten($background, 30%) inset
        &.is-focused
            box-shadow: 0 0 0 1px $accent inset
        .el-select__selected-item
            color: $text

.el-select-dropdown
    background-color: $background
    .el-select-dropdown__item
        color: $text
    .el-select-dropdown__item:hover
        background-color: lighten($background, 20%)
    // .el-select-dropdown__item:not(:focus)
    //     background-color: $background
